<div class="modal-backdrop" (click)="cancel()"></div>

<div class="modal">
  <h2>Enter Marks</h2>

  <form [formGroup]="marksForm" (ngSubmit)="save()" *ngIf="!loading">
    <table class="marks-table">
      <thead>
        <tr>
          <th>Student</th>
          <th *ngFor="let sec of sections">{{ sec.name }} ({{ sec.total }})</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody formArrayName="students">
        <tr *ngFor="let student of studentsArray.controls; let i = index" [formGroupName]="i">
          <td>{{ student.get('studentname')?.value }}</td>

          <ng-container formArrayName="sectionMarks">
            <td *ngFor="let secCtrl of getSectionMarks(student).controls; let j = index" [formGroupName]="j">
              <input type="number" formControlName="mark" min="0" [max]="sections[j].total" style="width:60px; text-align:center;">
            </td>
          </ng-container>

          <td>{{ student.get('total')?.value }}</td>
        </tr>
      </tbody>
    </table>

    <div class="actions">
      <button type="button" class="cancel" (click)="cancel()">Cancel</button>
      <button type="submit">Save</button>
    </div>
  </form>

  <div *ngIf="loading">Loading...</div>
</div>
