<div class="class-tabs">
  <button 
    *ngFor="let classItem of classes" 
    (click)="selectClass(classItem.id)"
    [class.active]="selectedClass() === classItem.id">
    {{ classItem.name }}
  </button>
</div>

<!-- Inner Tabs for selected class -->
<div *ngIf="selectedClass() !== null" class="inner-tabs">
  <button 
    (click)="switchTab('planning')" 
    [class.active]="activeTab() === 'planning'">
    Annual Planning
  </button>
  <button 
    (click)="switchTab('material')" 
    [class.active]="activeTab() === 'material'">
    Subject Material
  </button>
  <button 
    (click)="switchTab('assignments')" 
    [class.active]="activeTab() === 'assignments'">
    Assignments
  </button>
</div>

<!-- Content for inner tabs -->
<div class="content" *ngIf="selectedClass() !== null">
  <ng-container [ngSwitch]="activeTab()">
    <app-annual-planning
      *ngSwitchCase="'planning'"
      [classId]="selectedClass()">
    </app-annual-planning>

    <app-subject-material
      *ngSwitchCase="'material'"
      [classId]="selectedClass()">
    </app-subject-material>

    <app-assignments
      *ngSwitchCase="'assignments'"
      [classId]="selectedClass()">
    </app-assignments>
  </ng-container>
</div>