/* Change the background color of the header */
.csa-table-container{
    overflow: scroll;
    height: 250px;
    overflow-x: hidden;
}

.csa-header-cell{
    padding: 0px !important;
    width: 150px; /* Adjust to your desired column width */
    text-align: center; /* Optional: Center the text */
}