.assignments-container {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .upload-btn {
    background-color: #B58863;
    color: white;
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
}

.group {
  margin-top: 25px;

  .group-title {
    font-size: 1.3rem;
    margin-bottom: 10px;
    padding-left: 4px;
    border-left: 4px solid #B58863;
  }

  .assignment-card {
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fafafa;
    margin-bottom: 16px;

    .row {
      display: flex;

      gap: 20px;
      margin-bottom: 10px;
      font-size: 0.95rem;
      width: 100%;

      .row-item{
        width: fit-content;
      }
    }

    .sections {
      margin-bottom: 10px;

      ul {
        margin: 4px 0 0 0;
        padding-left: 18px;
        display: flex;

        li {
          padding-right: 25px;
          margin-bottom: 4px;
        }
      }
    }

    .stats {
      margin-bottom: 12px;

      .stats-grid {
        display: flex;
        gap: 20px;
        font-size: 0.9rem;
      }
    }

    .actions {
      display: flex;
      gap: 10px;

      .marks-btn {
        padding: 6px 12px;
        border-radius: 6px;
        border: none;
        background: #b58863;
        color: white;
        cursor: pointer;

        &:hover {
          background: #a27550;
        }
      }

      .delete-btn {
        padding: 6px 12px;
        border-radius: 6px;
        border: none;
        background: #ccc;
        cursor: pointer;

        &:hover {
          background: #b5b5b5;
        }
      }
    }
  }
}
